<footer>
    <p id="banner">Acesta este un proiect scolar!<button id="ok_cookies">Accepta cookies</button></p>
    <address>
        <p><i class="fa-solid fa-phone" id = "iconita-footer"></i>Telefon: <a href="tel:+40123456789">+40 123 456 789</a></p>
        <p><i class="fa-solid fa-location-dot" id = "iconita-footer"></i> Adresă: <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica+Bucuresti"
                target="_blank">Strada Principală nr. 10, București</a></p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843011393146!2d26.097011776218338!3d44.43553547107579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1741195149427!5m2!1sro!2sro"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><i class="fa-solid fa-envelope" id = "iconita-footer"></i> Email: <a href="mailto:contact@restaurantulmeusmecher.ro">contact@restaurantulmeusmecher.ro</a></p>
        <p>Chat pe  <i class="fa-brands fa-whatsapp" id = "iconita-footer"></i> <a href="https://wa.me/40123456789" target="_blank">WhatsApp</a></p>
    </address>
    <small>&copy; <time datetime="2025-03-02">2025</time> Restaurant. Toate drepturile rezervate.</small>
    <br>
    <a href="#" title="duce la inceputul paginii" class="button-container">
        &#5123; 
    </a>
</footer>