<nav>
    <label id="hamburger" for="ch-meniu">
        <!-- <img src="./resurse/imagini/hamburger_icon_2.png" alt="Meniu hamburger",> -->
        <div class="hamburger-container">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
    </label>
    <input type="checkbox" id="ch-meniu">
    <ul class = "meniu-navigare">
        <li>
            <a href="/" class="link-icon">
                <div class="image-icon"><i class="fa-solid fa-house"></i></div>
                <div class="text-icon" id="acasa">Acasa</div>                 
                <!-- <ul>
                    <li><a href="#despre-noi">Despre noi</a></li>
                    <li><a href="#retete-simple">Retete</a></li>
                    <li>
                        <ul>
                            <li><a href="#video">Videoclipuri</a></li>
                        </ul>
                    </li>
                    <li><a href="#meniu">Meniu</a></li>
                    <li><a href="#orar">Orar</a></li>
                    <li><a href="#intrebari-frecvente">Intrebari frecvente</a></li>
                </ul> -->
            </a>
        </li>
        <li><a href="rezervari">Rezervari</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="meniu">Meniu</a>
            <ul>
                <li><a href="#meniu-mancare">Mancare</a></li>
                <li><a href="#meniu-bauturi">Bauturi</a></li>
            </ul>
        </li>
    </ul>

</nav>