<!DOCTYPE html>
<html lang="ro">

<head>
    
    <meta name="description" content="Site-ul unui restaurant care ofera meniuri pentru micul dejun, pranz si cina.">
    <meta name="keywords" content="restaurant, mancare, meniu, mic dejun, pranz, cina, meniul zilei, desert, bauturi">
    <title>Cel mai smecher restaurant</title>

    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <%- include("../fragmente/nav.ejs") %>
    <main>
        <h2>Aceasta este pagina contact</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex illum labore hic ratione numquam modi ut, delectus non, ullam aperiam excepturi aliquid ab asperiores velit accusantium odio eos quis eveniet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fugit autem ex consequuntur reprehenderit necessitatibus sequi vel dolor nihil eaque. Explicabo, fuga quis! Consequatur ratione doloribus quae quas laudantium non!</p>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>