<!DOCTYPE html>
<html  lang="ro">
    <head>

        <meta name="description" content="Site-ul unui restaurant care ofera meniuri pentru micul dejun, pranz si cina.">
        <meta name="keywords" content="restaurant, mancare, meniu, mic dejun, pranz, cina, meniul zilei, desert, bauturi">
        <title>Cel mai smecher restaurant</title>

        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <%- include("../fragmente/nav.ejs") %>
    Ai fost delogat!
</main>

<footer>
    <%- include('../fragmente/footer') %>
</footer>

</body>
</html>